@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:white
}
#hero2{
    background-image: url("images/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#hero2 h1{
    color: fff;
}
#hero2{
color:#fff;
}
.lgd{
padding-top: 20px;
display: flex;
justify-content: space-between;
width: 23%;
}

#card{
    height: 400px;
    padding: 10px 12px;
    
    min-width: 250px;
    border: 1px solid #cce;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20PX 20PX 30px rgba(0, 0, 0, 0.06);
    margin: 15px 0px;
    transition: 0.2 ease;
    position: relative;
}
#card:hover{
    box-shadow:20PX 20PX 30px rgba(0, 0, 0, 0.1);
 
}
.card-body span{
   font-size: 12px;
   color: 606063;
}
.card-text{
    margin-top: 1px;
    padding: 7px;
    font-size: 25px;
    color: #1a1a1a;
    text-align: start;
    padding: 10px 0;
    margin-top: -10px;
}
.card-text2{
    text-align: start;
    margin-top: 1px;
    font-size: 21px;
    color: #088178;
    font-weight: 700;
    margin-top: -6px;
}
.star{
    font-size: 12px;
    color: rgb(243, 181, 25);
    text-align: start;
    padding: 10px 0;
    margin-top: -40px;
}
.carde{
border-radius: 50px;
line-height: 40px;
width: 40px;
height: 40px;
font-weight: 600;
position: absolute;
background-color: #e8f5ea;
color:#088178;
bottom: 20px;
right: 10px;
border: 1px solid #cce7d0;
}
main{
    padding: 40px 80px;
}
main img{
    width: 100%;
    border-radius: 20px;
   
}
#header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 200px; 
        background: #e3e6f3;
        box-shadow: 0 5px 15px rgba(189, 187, 187, 0.6); 
        z-index:  999;
        position: fixed;
        top: 0;
        left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 500px;    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a:hover{
    color:  #088178;
    }
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #1a1a1a;
    transition: 0.3 ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:  #088178;
    }
    .active{
        color:  #088178;
        }
.active::after,
#navbar li a:hover::after{
    content:"" ;
    width: 30%;
    height: 2px;
    position: absolute;
    background: #088178; 
    bottom: -4px;
    left: 20px;   
}
#hero{
    background-image: url("images/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
#hero h4{
   margin-top: 1px;
}
.h4{
    margin-top: 10px;
 }
#hero h2{
    margin-top: 1px;
 }
 #hero p{
    margin-top: 1px;
 }
#hero h1{
    color:#088178; 
    margin-top: 1px; 
}
#hero button{
   background-image: url("images/button.png");
   background-color: transparent;
   color:#088178; 
   padding: 14px 80px 14px 65px;
   border: 0;
   background-repeat:no-repeat ;
   cursor: pointer;
   font-weight: 700;
   font-size: 15px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo2{
    margin-bottom: 30px;
}
footer h4{
   font-size: 14px;
   padding-bottom:  20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #222;
}
footer.follow {
    margin: 10px;
}
footer.follow i{
   color: #465b52;
   margin-right: 4px;
   cursor: pointer;;
}
footer .install .row img{
border: 2px solid #088178;
border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
    }
footer .follow i:hover,
footer a:hover{
    color: #088178;    
} 

footer .copyright{
    text-align: center;
    width: 100%;
}   

#nwesletter{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-image: url("images/banner/b14.png");
    background-color: #041e42;
}
.pl{
   height: 150px;
}
#nwesletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-left: 50px;
}
#nwesletter p{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0 ;
    margin-left: 50px;
}
#nwesletter p span{
  color: #ffbd27;
}
#nwesletter input{
height: 3.125em;
padding: 0 1.25em;
font-size: 14px;
width: 70%;
border: 1px solid transparent;
border-radius: 4px;
outline: none;

}
 button{
background-color: #088178;
color: #fff;
white-space: nowrap;
}
.from{
 display: flex;
 width: 35%;
    }
.normal1{
    width: 100px;
    height: 45px;
}  
@media (max-width:799px) {
    #navbar{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #e3e6f3;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.1);  
        padding: 80px 0 0 10px; 
    }
    #navbar li{
   margin-bottom: 20px;
    }
}

h2{
    color:  #f0f0f0;
}
input{
    font-size: 15px;
    font-weight: bolder;
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
}
textarea{
    font-weight: bolder;
}
label{
    color: #fff;
    background-color: #0a49f6;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    cursor: pointer;
}
label:hover {
    background-color: rgb(14, 13, 13);
    transform: scale(1.1);
}
#arrow{
    text-align: center;
}
#arrow a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
  
}
#arrow a i{
   font-size: 16px;
   font-weight: 600;
}

.l{
   border: 1px solid #e2e9e1;
   border-left: none;
   border-right: 1px;
}